body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#fff
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
button {
    cursor: pointer;
}
address{
    font-style: normal;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* -----------------HEADER------------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}


    .container {}
    
    .header-container {
    display: flex;
    align-items: center;
    }
    
    .header-nav {
        display: flex;
        align-items: center;
    }

    .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    }
    
    .header-logo {
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 76px;
    }

    .header-logo .header-logo-color {
    color: #2E2F42;
    }
    
    .header-logo-color {}
    
    .header-menu-list {
        display: flex;
        align-items: center;
        gap: 40px;

    }
    
    .header-menu-item {

    }
 
    
    .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .header-menu-link:hover,
    .header-menu-link:focus,
    .header-menu-link.link-studio {
    color: #404bbf;
    }

    
    .header-menu-link.link-studio {
        position: relative;
    }

    .header-menu-link.link-studio::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
    }
    
    
    .header-addres {
        font-style: normal;
        margin-left: auto;
    }
    
    .header-addres-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
    .header-addres-item {}
    
    
    .header-addres-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
    .header-addres-link:hover {
        color: #404bbf;
    }
    
        .header-addres-link:focus {
        color: #404bbf
        }
    


/* -----------------SOLUTIONS------------- */


.solutions {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    width: 100%;
}

.solution-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.solution-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
}
.solution-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    cursor: pointer; 
    min-width: 169px;
    min-height: 56px;
    border-radius: 4px;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    align-self: center;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solution-btn:hover {
    background-color: #404bbf;
}
.solution-btn:focus{
    background-color: #404bbf;
}


/* ---------------FEATURE---------------- */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

    .container{
    }


.features-list{
    display: flex;
    gap: 24px;
    text-align: left;
    margin: 0;
}

.features-item{
flex-basis: calc((100% - 72px) / 4);
}


.item-icon {
    border: 1px solid #8e8f99;;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    color: #2e2f42;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -----------------OURTEAM------------- */
.ourteam {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-wrapper {
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
    margin-top: 0;
}

.ourteam-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    margin: 0;
    
}

.ourteam-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    margin: 0;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.ourteam-info-person {
    padding: 32px 0;

}


.ourteam-img {
    width: 100%;
    height: auto;
}

.ourteam-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px

}

.outem-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.icon-item {
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.icon-link {
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.icon {
    fill: #F4F4FD;
}

/* -----------------OURPORTFOLIO------------- */


.ourportfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.ourportfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-top: 0;
}

.ourportfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
}



.ourportfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(0);
}


.ourportfolio-info-container {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    border-top: none;
}

.ourportfolio-cover {
    position: relative;
    overflow: hidden;

}

.ourportfolio-item:hover .ourportfolio-cover-text {
    transform: translateY(0);

}

.ourportfolio-img {
    width: 100%;
    height: auto;
    
}

.ourportfolio-cover-text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.ourportfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px
}

.ourportfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* -----------------FOOTER------------- */


.footer{
    background-color: #2E2F42;
    padding: 100px 15px 100px 15px;
}

.container-footer {
    display: flex;
    align-items: center;
    align-items: baseline;
}

.container-footer-logo {
    width: 264px;
    height: 112px;
    margin-right: 120px;

}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-logo {
    margin: 0;
    display: inline-block;
    margin-bottom: 16px;
    }


.footer-logo-color {
    color: #f4f4fd;
    }

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    margin: 0;
}

.container-footer-media {
    text-align: left;
}

.media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.media-icon-list {
    display: flex;
    gap: 16px;
}

.media-icon-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}



.media-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-icon-link:hover {
    background-color: #31d0aa;
}

.media-icon-link:focus {
    background-color: #31d0aa;
}

.icon {
    fill: #F4F4FD;
}